@media (max-width: 470px) {
  #menu-nav {
    display: block !important;
    background: #ff0000;
  }
  form {
    margin-top: 5%;
    width: 85vw !important;
    height: 60vh;
    position: absolute;
    margin-left: 10%;
  }
  form label {
    width: 60.4vw;
    font-size: 24px;
  }
  form input {
    width: 60vw;
    height: 35px;
  }
  form textarea {
    width: 60vw;
  }
  form button {
    width: 60.5vw;
  }
  #github {
    margin: 0 20px;
  }
  .icones img {
    margin-top: 15px;
    display: none;
  }
  .icones::after {
    content: "";
    display: inline-block;
    height: 30px;
    width: 60vw;
    margin-left: 22vw;
    border-radius: 20px;
    background-color: #e6e6e6;
    margin-top: 47.5vh;
  }
  .icones-mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 69vh;
    margin-right: -10vw;
    position: absolute;
  }
}

nav.open #menu-links {
  display: block;
}

#menu-toggle {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  display: none;
  color: #f0f0f0;
}

@media (max-width: 768px) {
  #menu-toggle {
    display: block;
    margin-top: -12px;
    margin-left: 15px;
  }
  nav.open {
    display: flex;
    align-items: start;
  }
  #menu-links {
    display: none;
    justify-content: center;
    text-align: center;
    position: absolute;
    margin: -5px 18% 0 0;
    background-color: #f0f0f0;
    width: 20%;
    z-index: 0;
  }

  #menu-links a {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #ffffff;
    background-color: #5d5d5d;
    border-bottom: 1px solid #ccc;
    border-radius: 20px;
  }
}
