/* dispositivos moveis */
@media (max-width: 708px) {
  body {
    z-index: 1;
    height: 100dvh;
  }
  body.transparente {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 6, 49, 0.826);
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  .nav-moba {
    display: flex;
    justify-content: space-around; /* Espaço ao redor dos itens */
    align-items: center;
    width: 80vw;
  }

  #menuNav {
    display: block;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
  }
  #close-menu {
    display: none;
  }

  /* Controla visibilidade */
  #menuNav.hide {
    display: none;
  }
  #close-menu.show {
    display: block;
  }
  #menu-links {
    display: none;
  }
  #menu-links.on {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #615d9c;
    width: 55vw;
    height: 80px;
    border-radius: 25px;
    margin-top: 25vh;
    padding: 10px;
    box-shadow: 0 8px 30px #9b95ea;
    left: 53%;
    transform: translateX(-50%);
    opacity: 0;
    animation: slideIn 0.6s ease forwards;
    z-index: 10;
  }
  form {
    margin-top: -10px;
  }
  .alinha-from-moba {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
  }
  .alinha-from-moba .iconesMoba {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 30px auto 0 auto;
    background: #3b3868;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 12px 25px #6c69a8;
  }
  .icones-moba img {
    max-width: 45px;
  }
  #menu-links a {
    padding: 20px 15px;
  }
  nav a::after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 10px;
    background: #f6f6f6;
    text-align: center;
    position: absolute;
    top: 45px;
    left: 0;
    transition: 0.3s ease;
  }

  #h-nav:hover::after {
    margin-left: 10px;
    width: 70%;
  }
  #s-nav:hover::after {
    margin-left: 10px;
    width: 84%;
  }
  #c-nav:hover::after {
    margin-left: 13px;
    width: 74%;
  }
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translate(-50%, -20px);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  .icones {
    display: none;
  }
}
@media (max-width: 470px) {
  body {
    background: #585589;
    background: linear-gradient(90deg, #585589 0%, #3b3868 58%);
    height: 96vh;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    margin: 8% 8% 0 8%;
  }

  nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78vw;
  }

  .contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 17% 0 0 0;
  }
  form {
    display: flex;
    justify-content: center;
    width: 85vw !important;
    height: 60vh;
  }
  form label {
    width: 60.4vw;
    font-size: 24px;
  }
  form input {
    width: 60vw;
    height: 35px;
  }
  form textarea {
    width: 60vw;
  }
  form button {
    width: 60.5vw;
  }
  #github {
    margin: 0 30px;
  }
  .icones {
    display: none;
  }
  /* .icones-moba {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .icones-moba::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 10px;
    width: 10vw;
    border-radius: 5px;
    margin-top: 55px;
    background: #211f3c;
    box-shadow: -10px 0px 1px #211f3c;
    z-index: -1;
  } */
}
.icones-moba {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  background: #3b3868;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 12px 25px #6c69a8;
}
.icones-moba img {
  max-width: 48px;
}
#menu-links.on {
  width: 65vw;
  height: 75px;
}
#menu-links a {
  font-size: 18px;
}
/* .icones-moba::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  width: 10px;
  height: 100%;
  background: transparent;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
} */
