/* dispositivos moveis */
@media (max-width: 708px) {
  body {
    z-index: 1;
    height: 100dvh;
  }
  body.transparente {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 6, 49, 0.826);
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
  }
  .nav-moba {
    display: flex;
    justify-content: space-around; /* Espaço ao redor dos itens */
    align-items: center;
    width: 80vw;
  }

  #menuNav {
    display: block;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
  }
  #close-menu {
    display: none;
  }

  /* Controla visibilidade */
  #menuNav.hide {
    display: none;
  }
  #close-menu.show {
    display: block;
  }
  #menu-links {
    display: none;
  }
  #menu-links.on {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #615d9c;
    width: 50vw;
    height: 80px;
    border-radius: 25px;
    margin-top: 25vh;
    padding: 10px;
    box-shadow: 0 8px 30px #9b95ea;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: slideIn 0.6s ease forwards;
    z-index: 10;
  }
  .contato {
    margin: 64px 0 0 0;
  }
  form {
    margin-top: -10px;
  }
  .alinha-from-moba {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
  }
  .alinha-from-moba .iconesMoba {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 30px auto 0 auto;
    background: #3b3868;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 12px 25px #6c69a8;
  }
  .iconesMoba {
    margin-bottom: 15px !important;
  }
  .icones-moba img {
    max-width: 45px;
  }
  #menu-links a {
    padding: 20px 15px;
  }
  nav a::after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 10px;
    background: #f6f6f6;
    text-align: center;
    position: absolute;
    top: 45px;
    left: 0;
    transition: 0.3s ease;
  }

  #h-nav:hover::after {
    margin-left: 10px;
    width: 70%;
  }
  #s-nav:hover::after {
    margin-left: 10px;
    width: 84%;
  }
  #c-nav:hover::after {
    margin-left: 13px;
    width: 74%;
  }
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translate(-50%, -20px);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  .icones {
    display: none;
  }
}
@media (max-width: 560px) {
  .contato {
    margin: 60px 0 0 0;
  }
  form {
    width: 70vw;
    margin-top: -10px;
  }
  form label {
    width: 45vw;
  }
  form input {
    width: 44vw;
    height: 35px;
  }
  form textarea {
    width: 44vw;
  }
  form button {
    width: 45vw;
  }
}
@media (max-width: 470px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 0 0;
  }

  nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78vw;
  }
  #menu-links.on {
    display: flex;
    justify-content: space-around;
    width: 70vw;
  }
  #menu-links.on a {
    font-size: 16px;
  }
  .contato {
    margin: 64px 0 0 0;
  }
  form {
    width: 75vw;
    margin-top: -10px;
    height: 67vh;
  }
  form label {
    width: 52vw;
  }
  form input {
    width: 50vw;
    height: 35px;
  }
  form textarea {
    width: 50vw;
  }
  form button {
    width: 52vw;
  }
  #github {
    margin: 0 30px;
  }

  /* .icones-moba {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .icones-moba::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 10px;
    width: 10vw;
    border-radius: 5px;
    margin-top: 55px;
    background: #211f3c;
    box-shadow: -10px 0px 1px #211f3c;
    z-index: -1;
  } */
}
@media (max-height: 845px) {
  .contato {
    margin: 50px 0 0 0;
  }
  form {
    min-width: 80dvw !important;
    /* margin-top: -10px; */
    height: 65dvh;
  }
  form label:first-child {
    margin-top: 25px;
    /* label nome */
  }
  form label {
    width: 53dvw;
  }
  form input {
    width: 51dvw;
    min-height: 25px;
    height: 30px;
  }

  form textarea {
    width: 51dvw;
  }
  form button {
    width: 53dvw;
    min-height: 40px;
    margin-bottom: 20px;
  }
  .iconesMoba {
    margin-top: 15px;
  }
}

@media (max-height: 801px) {
  .contato {
    margin: 50px 0 0 0;
  }
  form {
    min-width: 45dvw !important;
    /* margin-top: -10px; */
    height: 70dvh;
  }
  form label:first-child {
    margin-top: 25px;
    /* label nome */
  }
  form label {
    width: 35dvw;
  }
  form input {
    width: 35dvw;
    min-height: 25px;
    height: 30px;
  }

  form textarea {
    width: 35dvw;
  }
  form button {
    width: 36dvw;
    min-height: 40px;
    margin-bottom: 20px;
  }
  .iconesMoba {
    margin-top: 15px;
  }
}
